.category-container {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    height: auto;
}
.category-header {
    align-self: center;
    font-size: 1.8em;
    font-weight: 500;
    color: #153A5B;
}
.category-body-container {
    display: grid;
    height: auto;
    padding: 0px 4vw;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    grid-template-rows: repeat(2, 200px);
}

.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
}

.category-img-container {
    height: 65%;
    width: 60%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: #E8F4F4;
    align-items: center;
    cursor: pointer;
}

.category-img {
    max-height: 90%;
    max-width: 100%;
    width: auto;
    height: auto;
    display: block;
    margin: auto; 
}

.category-name {
    font-size: 1.1em;
    font-weight: 450;
    cursor: pointer;
}