.product-container {
    padding-top: 10vh;
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
    overflow: hidden;
    gap: 5%;
}


.image-container {
    width: 31%;
    border-radius: 15px;
    object-fit: cover;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    z-index: -1;
    transition: all linear 0.2s;

}
.image-container:hover {
    cursor: pointer;
}
.product-image {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    display: block;
    margin: auto;
}

.product-details {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.details-header {
    color: #324D67;
    font-size: 1.8em;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.share-option {
    font-size: 1.1rem;
    align-self: center;
    cursor: pointer;
    font-weight: 450;
}

.description-header {
    font-weight: 500;
    color: #324D67;
}
.product-description {
    font-size: .87em;
}
.product-price {
    padding: 3% 0px;
    color: #324D67;
}
.quantity-container {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}
#quantity {
    width: 7vw;
    height: 20%;
}
.product-btns {
    display: flex;
    flex-direction: row;
    gap: 3vw;
}

.product-btn {
    outline: none;
    border: 1px solid transparent;
    background-color: red;
    color: white;
    padding: 10px 30px;
    font-weight: 500;
    transition: all linear .2s;
    box-shadow: 0px 0px 3px rgba(2566, 0, 0, .5);
}
.product-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(2566, 0, 0, .5);
}

.product-btn:focus {
    outline: none;
}

.addcart-successful {
    position: fixed;
    background-color: #454545;
    color: #1ABE4D;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    left: 35%;
    top:4vh;
    z-index: 10;
    opacity: 0;
 }
 .addcart-completed {
    animation-name: show-success;
    animation-duration: 5s;
 }
 @keyframes show-success {
    0% {
       opacity: 1;
    }
    10% {
       top:18vh;
    }
    75% {
       top:18vh;
       opacity: 1;
    }
    90% {
       opacity: 0;
    }
 }
 .share-container {
    position: fixed;
    min-height: 200px;
    min-width: 350px;
    text-align: center;
    height: auto;
    width: auto;
    background-color: white;
    border: 1px solid;
    border-color: rgba(0,0,0,0.1);
    border-radius: 5px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: #E8ECF6;
    transition: all linear 0.2s;
    visibility: hidden;
    opacity: 0;
  }

  .copy-container {
    margin: 20px 0px;
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    background-color: white;
    border-radius: 7px;
  }

  .copy-container input {
    outline: none;
    width: 80%;
    padding: 5px 0px;
    border-radius: 7px;
    border-color: transparent;
  }

  #link-icon {
    position: absolute;
    left: 3%;
    top: 9px;
  }

  .input-class {
    font-size: .75rem;
  }

  #copy-icon {
    position: absolute;
    right: 3%;
    top: 9px;
    cursor: pointer;
  }

  .share-below-container {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    gap: 1.5em;
  }

  .share-header {
    font-size: 1.1em;
    font-weight: 450;
  }

  .share-social {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 15%;
    justify-content: center;
  }

  .share-icons {
    padding: 5px 5px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.1);
    align-self: center;
    font-size: 1.5em;
    cursor: pointer;
  }

  @keyframes showRate {
    0% {
        opacity: .5;
    }
    50% {
        top: 40%;
        opacity: 1;
    }
    100% {
        opacity: 1;
        top: 50%;
    }
  }

  @keyframes closeRate {
    0% {
        top: 50%;
    }
    50% {
        top: 40%;
        opacity: .5;
    }
    100% {
        opacity:0;
        top: 30%;
        visibility: hidden;
    }

  }

  .copied {
    position: fixed;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4px 20px;
    background-color: rgba(0,0,0,0.7);
    color: white;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
  }

  @keyframes showCopied {
    20% {
      visibility: visible;
      opacity: 1;
    }

    65% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      visibility: hidden;
    }
  }