.add-category-container {
    text-align: center;
}
.add-category-label {
    font-size: 2em;
    padding-bottom: 5vh;
}
.get-category {
    color: black;
}
.add-category-btn {
    padding: 9px 5px;
    
}
.show-category-table {
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 5vh;
    border: 3px solid white;
}
.add-product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    width: 100%;
}
.add-product-input-container {
    color: black;
}
.add-product-label {
    width: 200px;
}
.add-product-input {
    color: black;
}